<section class="contact travelulu-container">
    <p class="contact-text">Need more information to get started?</p>
    +btn-link({
        href: "#",
        className: "btn-secondary contact-btn",
        value: "CONTACT US"
    })
</section>