<section class="notify travelulu-container">
    +notify-thumbs-up({
        value: "Lock in a great price for your upcoming stay Get instant confirmation with FREE cancellation on most rooms!"
    })

    +notify-alert({
        value: "From 6 April 2022, your chosen cancellation policy will apply, regardless of Coronavirus. We recommend booking a free cancellation option in case your travel plans need to change. "
    })
</section>