<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-info">
        <img class="img-info" src="images/logo.svg" alt="logo" />
        <div class="content-info">
            <span>+1-234-567-890</span>
            <span>Rockefeller PlazaNew York, NY 10112</span>
        </div>
    </div>
    
    <div class="footer-content">
        <ul class="footer-features">
            <h4 class="footer-features-title">Learn More</h4>
            <li class="footer-feature-item"> <a class="footer-link" href="#">How it work </a> </li>
            <li class="footer-feature-item"> <a class="footer-link" href="#">Who we are </a> </li>
            <li class="footer-feature-item"> <a class="footer-link" href="#">Careers </a> </li>
            <li class="footer-feature-item"> <a class="footer-link" href="#">Blog </a> </li>
            <li class="footer-feature-item"> <a class="footer-link" href="#">FAQs </a> </li>
        </ul>
        <ul class="footer-features feature-right">
            <h4 class="footer-features-title">Social</h4>
            <li class="footer-feature-item"> <a class="footer-link" href="#">Facebook </a> </li>
            <li class="footer-feature-item"> <a class="footer-link" href="#">Instagram </a> </li>
            <li class="footer-feature-item"> <a class="footer-link" href="#">Twitter </a> </li>
            <li class="footer-feature-item"> <a class="footer-link" href="#">Pinterest </a> </li>
            <li class="footer-feature-item"> <a class="footer-link" href="#">Linkedin </a> </li>
        </ul>
    </div>

    <div class="footer-download">
        <h4 class="footer-features-title">Download</h4>
        <div class="features-download">
            <a class="download-option" href="#">
                <img src="images/footer/ggplay.svg" alt="googleplay" />
            </a>
            <a class="download-option" href="#">
                <img src="images/footer/appstore.svg" alt="appstore" />
            </a>
        </div>
    </div>
  </div>
  
  <div class="footer-copyright">
    <span>Copyright © 2020 Company Name All rights reserved</span>
    <ul class="copyright-options">
        <li> <a class="footer-link" href="#"> Term of Use </a> </li>
        <li> <a class="footer-link" href="#"> Privacy Policy </a> </li>
        <li> <a class="footer-link" href="#"> Cardholder Agreement </a> </li>
    </ul>
  </div>
</footer>
