<header class='header'>
  <div class="header-nav-menu">
    <button class="nav-menu">
      <img src="images/icons/icon-menu.svg" alt="menu" />
    </button>
    <a href="#"><img class='nav-logo' src='images/logo.svg' alt='logo' /> </a>
  </div>
  <ul class='header-nav-items'>
    <li class='nav-item item-display item-selected'> <a href="#">Home</a> </li>
    <li class='nav-item item-display'> <a href="#">Explore</a> </li>
    <li class='nav-item item-btn'> Get Started
      <img src='images/icons/icon-next.png' alt='Get Started' />
    </li>
  </ul>
</header>