/* VARIABLES */
// colors
$color-white-1: #fff;
$color-black-1: #000;

//financial
$primary-color: #F79901;
$primary-color-1: #304659;
$text-color-1: #252B42;
$text-color-2: #4D4D4D;
$color-blue-9: #2100FF;
$color-black-5: #F2F2F2;
$color-black-8: #232120;
$color-black-9: #828282;

//bindle 
$color-white-bg: #F9FAFC;
$color-neutral: #8F95B2;
$color-neutral-400: #D8DAE5;
$color-neutral-500: #C1C4D6;
$color-neutral-700: #696F8C;
$color-neutral-75: #F9FAFC;;
$color-label: #304659;
$color-grey: #F6F6F6;
$color-grey-placeholder: #C1C4D6;
$color-orange: #FF6647;
$color-blue: #3A6AD5;
$color-blue-1: #3A6AD4;

//travelulu
$color-travelulu-default: #5F2EEA;
$color-travelulu-purple: #B872FF;
$color-travelulu-purple-1: #BCA4FF;
$color-travelulu-purple-2: #A653F9;
$color-greyscale: #D9DBE9;
$color-travelulu-greyscale-1: #F7F7FC;
$color-travelulu-greyscale-2: #FCFCFC;
$color-travelulu-greyscale-3: #F3EFFF;
$color-travelulu-greyscale-4: #EFF0F7;
$color-travelulu-greyscale-5: #E2E2E2;
$color-travelulu-title: #14142B;
$color-travelulu-label: #6E7191;
$color-travelulu-body: #4E4B66;
$color-travelulu-pink: #ED2E7E;
$color-travelulu-success: #00BA88;
