<footer class="footer">
    <div class="_footer-top">
        <div class="footer-info">
            <a href="" class="logo-bindle logo-footer">
                <img class="logo" src="images/bindle/logo.svg" alt="logo" />
                <span class="bindle">Bindle</span>
            </a>
            <h1 class="footer-info-header">Explore the world with Bindle!</h1>
            <p class="footer-info-text">We offer tailored services for all your traveling needs. Our host are wonderful, ready to accommodate your stay as you enjoy your vacation without worries.</p>
        </div>

        <div class="footer-services">
            <div class="line"></div>

            <ul class="footer-features">
                <li class="footer-features-item">
                    <a href="#"> About Us </a>
                </li>
                <li class="footer-features-item">
                    <a href="#"> Blog </a>
                </li>
                <li class="footer-features-item">
                    <a href="#"> Help Center </a>
                </li>
                <li class="footer-features-item">
                    <a href="#"> Privacy policy </a>
                </li>
                <li class="footer-features-item">
                    <a href="#"> Contact us </a>
                </li>
            </ul>

            <div class="line"></div>
            
            <div class="footer-contact">
                <p class="footer-contact-sub">Subscribe to our newsletter</p>

                <form class="footer-contact-newsletter">
                    <input class="footer-contact-email" type="email" placeholder="Enter your email address" />
                    <button class="footer-contact-btn" type="submit">Send <img src="images/bindle/icon/icon-send.svg" alt="send" /> </button>
                </form>

            </div>
        </div>
    </div>

    <div class="_footer-bottom">
        <ul class="footer-contact-social">
            <a href="#">
                <li class="footer-social">
                    <img src="images/bindle/icon/icon-fb.svg" alt="facebook" />
                </li>
            </a>

            <a href="#">
                <li class="footer-social">
                    <img src="images/bindle/icon/icon-twitter.svg" alt="twitter" />
                </li>
            </a>

            <a href="#">
                <li class="footer-social">
                    <img src="images/bindle/icon/icon-ins.svg" alt="instagram" />
                </li>
            </a>
        </ul>

        <span class="footer-copyright">© 2021  Bindle.</span>
    </div>

</footer>