<header class="header">
    <a href="" class="logo-bindle">
        <img class="logo" src="images/bindle/logo.svg" alt="logo" />
        <span class="bindle">Bindle</span>
    </a>

    <div class="header-option">
        <a class="header-host" href="#">Become a host</a>
        <div class="header-language">
            <img src="images/bindle/icon/icon-lang.svg" alt="languages" />
            <span>EN</span>
        </div>

        <img class="header-user" src="images/bindle/user.png" alt="user" />
    </div>
</header>