- imageTransparent = "images/transparent.png";

include common/style
include common/link
include common/img
include common/button
include common/tags
include common/select
include common/video
include common/message
include common/breadcrumb

include components/mega-menu-title

include bindle/button
include bindle/nearby-card
include bindle/rental-card
include bindle/destination-card
include bindle/featured-home-card
include bindle/testimonial-card

include travelulu/input
include travelulu/button
include travelulu/accommodation-card
include travelulu/notification-card