<section class="about-wrapper">
    <div class="about">
        <div class="about-title">
            <h1 class="title __about-title">Questions About Us<span>.</span></h1>
            <span class="about-caption">Short introduction</span>
        </div>

        <div class="about-content-list">
            include about-card
            include about-card
            include about-card
        </div>
    </div>
</section>