<div class="about-content-item">
    <div class="about-item">
        <p class="about-item-title"> (1) General taxpayer's agency accounting process.</p>
        <img class="about-img" src="images/about.svg" alt="about image">
    </div>
    <p class="about-note">Fill in the remember voucher based on the original voucher. 2. Summarize and compile subject summary table according to accounting vouchers. 3. Register the general ledger according to the account summary table. </p>
</div>