<section class="banner">
    <div class="banner-text">
        <h1 class="title banner-slogan">Your Strategy Is Only As Good As You Execute It<span>.</span></h1>
    </div>
    <picture class="banner-pic">
        <source media="(max-width:767px)" srcset="images/mobile-header-img.svg">
        <img class="banner-image" src="images/desktop-header-img.svg" alt="banner-image" />
    </picture>
</section>