<section class="features">
    <h1 class="title features-title">Dream Big Do Right<span>.</span></h1>
    <div class="line"></div>
    <ul class="features-list">
        <li class="feature-item">
            <img src="images/icons/features-component/icon-1.svg" alt="icon-feature"/>
            <span class="item-text"> Audit Report </span>
        </li>
        <li class="feature-item"> 
            <img src="images/icons/features-component/icon-2.svg" alt="icon-feature"/>
            <span class="item-text"> Tax Planning </span>
        </li>
        <li class="feature-item"> 
            <img src="images/icons/features-component/icon-3.svg" alt="icon-feature"/>
            <span class="item-text"> Audit Report </span>
        </li>
        <li class="feature-item item-bg"> 
            <img src="images/icons/features-component/icon-4.svg" alt="icon-feature"/>
            <span class="item-text"> Tax Planning </span>
        </li>

        <li class="feature-item"> 
            <img src="images/icons/features-component/icon-1.svg" alt="icon-feature"/>
            <span class="item-text"> Tax Planning </span>
        </li>
        <li class="feature-item"> 
            <img src="images/icons/features-component/icon-2.svg" alt="icon-feature"/>
            <span class="item-text"> Audit Report </span>
        </li>
        <li class="feature-item"> 
            <img src="images/icons/features-component/icon-3.svg" alt="icon-feature"/>
            <span class="item-text"> Tax Planning </span>
        </li>
        <li class="feature-item"> 
            <img src="images/icons/features-component/icon-4.svg" alt="icon-feature"/>
            <span class="item-text"> Audit Report </span>
        </li>
    </ul>
</section>