<section class="quality">
    <picture class="quality-img" >
        <source media="(max-width:991px)" srcset="images/quality-cover-mobile.png">
        <img class="__quality-img" src="images/quality-cover.png" alt="quality cover" />
    </picture>

    <div class="quality-content-list">
        <div class="quality-content-item item-top">
            <div class="item-title">
                <span class="quality-num">1</span>
                <h4>Ultra Low Cost</h4>
            </div>
            <p>Only hire a full-time accountant to undertake about 9%</p>
        </div>
        
        <div class="quality-content-item">
            <div class="item-title">
                <span class="quality-num">2</span>
                <h4>Quality Assurance</h4>
            </div>
            <p>Only hire a full-time accountant to undertake about 9%</p>
        </div>

        <div class="quality-content-item">
            <div class="item-title">
                <span class="quality-num">3</span>
                <h4>Ultra Low Cost</h4>
            </div>
            <p>Only hire a full-time accountant to undertake about 9%</p>
        </div>

        <div class="quality-content-item item-bottom">
            <div class="item-title">
                <span class="quality-num">4</span>
                <h4>Quality Assurance</h4>
            </div>
            <p>Only hire a full-time accountant to undertake about 9%</p>
        </div>
    </div>
</section>