<section class="questions">
    <div class="questions-title">
        <h1 class="title __questions-title">Questions About Us<span>.</span></h1>
        <span class="questions-caption">Short introduction</span>
    </div>

    <div class="questions-list">
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        <div class="questions-item">
            <div class="item-ques">
                <span class="item-tag">Q</span>
                <h4 class="ques">1. Why Are We So Good?</h4>
            </div>
            <div class="item-ans">
                <span class="item-tag">A</span>
                <p class="ans">- The best products start with Figma.</br>- Design with real data.</br>- Lightning fast prototyping.
                </p>
            </div>
        </div>
        
    </div>
</section>