.popular-item{
    position: relative;
    border-radius: rem(8);
}

.popular-item-img {
    width: 100%;
    border-radius: rem(8);
}

.popular-item-des {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: rem(6) rem(11) rem(8);
    @include flex(column);
    background-color: rgba(255, 255, 255, 0.2);
}

.popular-location {
    font-size: rem(14);
    font-weight: 600;
    line-height: rem(20);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popular-properties {
    font-size: rem(10);
    line-height: rem(14);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@include mq($BREAKPOINT-MD, min) {
    .popular-item-img {
        border-radius: rem(13.92);
    }

    .popular-properties {
        font-size: rem(12);
        line-height: rem(16);
        font-weight: 500;
    }

    .popular-location {
        font-size: rem(20);
        line-height: rem(24);
    }
}

@include mq($BREAKPOINT-XL, min) {
    
    .popular-item-des {
        padding: rem(16);
    }

    .popular-location {
        font-size: rem(32);
        font-weight: 700;
        line-height: rem(40);
    }
}