body {
  font-family: $font-poppins;
  font-size: $font-size-rem;
  max-width: 1920px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;

  &:not([src]),
  &[src=""] {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: inherit;
}

ul {
  padding: 0;
  li {
    list-style: none;
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: $color-travelulu-title;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.travelulu-container {
  margin: 0 rem(135) 0 rem(138);

  @include mq($BREAKPOINT-LG) {
    margin: 0 auto;
    width: calc(100% - 50px * 2);
  }

  @include mq ($BREAKPOINT-MD) {
    width: calc(100% - 30px * 2);
  }
}

.title {
  margin-right: rem(10);
  font-size: rem(32);
  font-weight: 700;
  line-height: rem(34);
  color: $color-black-1;

  @include mq($BREAKPOINT-MD) {
    font-size: rem(24);
    line-height: rem(32);
  }
}