<section class="banner">
    <div class="banner-content">
        <h1 class="banner-header">Discover New Destination</h1>
        <p class="banner-text">This modern trend looks nice and all, but we fell into the same trap again.</p>
        <form class="banner-search">
            <img class="banner-search-icon" src="images/bindle/icon/icon-search.svg" alt="search" />
            <input class="banner-input" placeholder="Where are you going?" />
        </form>
        
        <form class="banner-explore">
            <ul class="banner-options">
                <li class="banner-item">
                    <label class="banner-option-label banner-dropdown"> Location
                        <img src="images/bindle/icon/icon-down.svg" alt="banner-option" />
                        <ul class="content-dropdown">
                            <li class="dropdown-item">Florida</li>
                            <li class="dropdown-item">Florida</li>
                        </ul>
                    </label>
                    <input class="explore-input" type="text" placeholder="Your destination" />

                </li>
                <li class="banner-item">
                    <label class="banner-option-label"> Date
                        <img src="images/bindle/icon/icon-down.svg" alt="banner-option" />
                    </label>
                    <input class="explore-input" type="text" placeholder="When does it start?" onfocus="(this.type='date')" />
                </li>
                <li class="banner-item">
                    <label class="banner-option-label banner-dropdown"> People
                        <img src="images/bindle/icon/icon-down.svg" alt="banner-option" />
                        <ul class="content-dropdown">
                            <li class="dropdown-item">1</li>
                            <li class="dropdown-item">2</li>
                        </ul>
                    </label>
                    <input class="explore-input" type="number" placeholder="How many people?" />
                </li>
            </ul>
            <button class="banner-btn" type="submit">Explore Now</button>
        </form>
    </div>



    <div class="banner-picture">
        <img class="banner-pic" src="images/bindle/banner-picture.png" alt="banner picture" />
        <div class="banner-raining">
            <img class="banner-img" src="images/bindle/icon/icon-rain.svg" alt="raining" />
            <span class="rain-amount">83%</span>
            <span class="rain-chance">Raining Chances</span>
        </div>
    </div>
</section>