<section class="bindle-container gallery">
    <div class="gallery-header">
        <h2 class="title gallery-title">Testimonials & Gallery</h2>
        <div class="gallery-slider">
            <span class="slider-option slider-selected">Photo</span>
            <span class="slider-option">Video</span>
            <div class="slider-bar"></div>
        </div>
    </div>
    
    <div class="gallery-content-full">
        <div class="gallery-content">
            +testimonial-card({
                src: "images/bindle/gallery-1.png",
                alt: "gallery-1",
                text: "I’ve spent a wonderful time here. Will come back for sure next year together with my family and friends.",
                className: "gallery-content-block first-card",
            })
            
            +testimonial-card({
                src: "images/bindle/gallery-2.png",
                alt: "gallery-2",
                text: "I absolutely love the beach and water here. Everything was wonderful.",
                className: "gallery-content-block second-card",
            })
        
            <div class="gallery-content-block third-card">
                <img class="gallery-img" src="images/bindle/gallery-3.png" alt="gallery-3" />
                <img class="gallery-img" src="images/bindle/gallery-4.png" alt="gallery-4" />
            </div>
        </div>
    </div>
</section>