<section class="newsletter">
    <div class="newsletter-content">
        <h1 class="title newsletter-header">Get the best discounts for your family vacation.</h1>
        <ul class="newsletter-features">
            <li class="newsletter-item">
                <img class="newsletter-icon" src="images/bindle/icon/newsletter.svg" alt="check-icon" /> Best discounts ever </li>
            <li class="newsletter-item">
                <img class="newsletter-icon" src="images/bindle/icon/newsletter.svg" alt="check-icon" /> Free offers </li>
            <li class="newsletter-item">
                <img class="newsletter-icon" src="images/bindle/icon/newsletter.svg" alt="check-icon" /> Fast & secure payments </li>
        </ul>
    </div>
    <button class="newsletter-btn">Sign Up Now</button>
</section>