<footer class="footer">
    <div class="footer-info">
        <img class="footer-logo" src="images/travelulu/logo-footer.svg" alt="travelulu" />
        <p class="footer-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac ullamcorper magna, ac laoreet ex. Integer a consequat lectus. Nullam tortor sem </p>
        <span class="copy-right">Copyright 2021, All Rights Reserved.</span>
    </div>

    <div class="footer-block footer-services">
        <h3 class="footer-title">Services</h3>
        <ul class="footer-block-content">
            <li class="footer-block-item"> <a href="#"> Planning </a> </li>
            <li class="footer-block-item"> <a href="#"> Financing </a> </li>
            <li class="footer-block-item"> <a href="#"> Purchasing </a> </li>
            <li class="footer-block-item"> <a href="#"> Meeting </a> </li>
            <li class="footer-block-item"> <a href="#"> Flying </a> </li>
        </ul>
    </div>
    
    <div class="footer-block footer-continents">
        <h3 class="footer-title">Continents</h3>
        <ul class="footer-block-content">
            <li class="footer-block-item"> <a href="#"> North America </a> </li>
            <li class="footer-block-item"> <a href="#"> South America </a> </li>
            <li class="footer-block-item"> <a href="#"> Asia </a> </li>
            <li class="footer-block-item"> <a href="#"> Africa </a> </li>
            <li class="footer-block-item"> <a href="#"> Europe </a> </li>
            <li class="footer-block-item"> <a href="#"> Australia </a> </li>
        </ul>
    </div>
    
    <div class="footer-block footer-contact">
        <h3 class="footer-title">Contact</h3>
        <ul class="footer-block-content">
            <li class="footer-block-item">
                <a class="travelulu-email" href="mailto:travelulu@website.com">travelulu@website.com</a>
            </li>
            <li class="footer-block-item">22 Street Address, Suburb Address Main City, PO Box Country</li>
            <li class="footer-block-item">
                <a class="travelulu-tel" href="tel:08 8888 88888">08 8888 88888</a>
            </li>
        </ul>
    </div>

</footer>