<header class="header">
    <a class="header-logo" href=""><img src="images/travelulu/logo.svg" alt="travelulu" /></a>
    <button class="header-menu" type="button"><img src="images/travelulu/icons/header-menu.svg" alt="menu" /></button>
</header>