mixin rental-card(values={})
    <a href="#" class="rental-item">
        <img class="rental-item-img" src=!{values.src} alt=!{values.alt} />
        <h3 class="rental-item-title">!{values.title}</h3>
        <span class="rental-item-des">!{values.properties}</span>
    </a>
