mixin testimonial-card(values={})
    <a href="#" class="testimonial-card !{values.className}">
        <img class="testimonial-img" src=!{values.src} alt=!{values.alt} />
        <p class="testimonial-text">!{values.text}</p>
    </a>